@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: -4px 4px 0 #c4b796;
  }

  .text-border {
    --text-border-width: 2px;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: var(--text-border-width);
    -webkit-text-stroke-color: #39423d;
  }

  @media (max-width: 640px) {
    .text-shadow {
      text-shadow: -2px 2px 0 #c4b796;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  /* { */
  /*   transition-property: background-color, border-color; */
  /*   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  /*   transition-duration: 200ms; */
  /* } */
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
  }
}

body {
  @apply min-h-screen m-0 p-0 box-border dark:bg-outer-space bg-[url(../../public/grid.svg)] text-base text-outer-space dark:text-white;
}

a::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a::before {
  @apply bg-outer-space dark:bg-gold;

  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  z-index: -1;
  transition: transform 0.3s ease-in-out;
  transition-delay: 0.1s;
}

a {
  @apply dark:hover:text-outer-space hover:text-gold relative transition-colors duration-300 ease-in-out delay-75;
}

.debug {
  @apply border border-red-500;
}

