@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --outer-space: #39423d;
  --gold: #c4b796;
}

@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif;
    background: #fff;
    color: var(--outer-space);
  }

  .dark {
    color: #fff;
    background: var(--outer-space);
  }
}

#app {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('./grid.svg');
}

.text-shadow {
  text-shadow: -3px 3px 0 var(--gold);
}

.text-border {
  --text-border-width: 2px;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: var(--text-border-width);
  -webkit-text-stroke-color: var(--outer-space);
}

@media (max-width: 768px) {
  .text-shadow {
    text-shadow: -2px 2px 0 var(--gold);
  }

  .text-border {
    --text-border-width: 1px;
  }
}

/*
* link
*/
a {
   @apply relative no-underline transition-colors duration-200;
}

a::after {
  content: "";
  background-image: linear-gradient(to right, currentColor 50%, transparent 50%);
  background-size: 6px 1px;
  background-repeat: repeat-x;
  background-position: bottom;

  @apply absolute bottom-0 left-0 w-0 h-0.5 transition-all duration-300 ease-in-out;
}

a:hover::after {
  @apply w-full;
}

.dark a:hover {
  color: var(--gold);
}

@media (prefers-reduced-motion: no-preference) {
  {
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
  }
}
.debug {
  @apply border border-red-500;
}
